<template>
  <v-btn
    aria-label="drawer"
    class="ml-3 mr-0 mr-sm-4"
    elevation="2"
    icon
    @click="drawer = !drawer"
    min-width="0"
  >
    <v-icon aria-hidden="true" color="info">
      mdi-menu
    </v-icon>
  </v-btn>
</template>

<script>
// Utilities
import { sync } from "vuex-pathify";

export default {
  name: "DefaultDrawerToggle",

  computed: {
    ...sync("app", ["drawer"])
  }
};
</script>
