<template>
  <v-btn
    aria-label="logOut"
    elevation="2"
    @click.prevent="logOut"
    class="ml-2"
    min-width="0"
    icon
  >
    <v-icon aria-hidden="true" color="info"> mdi-logout </v-icon>
  </v-btn>
</template>

<script>
export default {
  methods: {
    logOut() {}
  }
};
</script>
