<template>
  <v-data-table
    class="sheet"
    :items="kycItems"
    :headers="kycHeaders"
    hide-default-footer
  >
    <template v-slot:[`item.actions`]>
      <v-btn color="aqua darken-1" small @click="$router.push('/user/')">
        مشاهده
        <v-icon right>
          mdi-eye-outline
        </v-icon>
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "auth",
  data: () => ({
    kycItems: [
      {
        id: "1",
        fullName: "Mavel Hustle",
        date: "2021/04/16 11:23:49",
        verifyUser: "در انتظار"
      }
    ],
    kycHeaders: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "نام و نام خانوادگی",
        value: "fullName"
      },
      {
        sortable: false,
        text: "تاریخ",
        value: "date"
      },
      {
        sortable: false,
        text: "کاربر تایید شده",
        value: "verifyUser"
      },
      {
        sortable: false,
        text: "",
        value: "actions"
      }
    ]
  })
};
</script>
