<template>
  <v-data-table
    class="sheet"
    hide-default-footer
    :items="buyTradeItems"
    :headers="buyTradeHeaders"
    loading-text="در حال دریافت اطلاعات"
    no-data-text="اطلاعاتی وجود ندارد"
    no-results-text="اطلاعاتی وجود ندارد"
  >
  </v-data-table>
</template>

<script>
export default {
  name: "buy-trade",
  data: () => ({
    buyTradeItems: [],

    buyTradeHeaders: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "تاریخ",
        value: "date"
      },
      {
        sortable: false,
        text: "جفت",
        value: "pair"
      },
      {
        sortable: false,
        text: "قیمت",
        value: "price"
      },
      {
        sortable: false,
        text: "مقدار",
        value: "amount"
      },
      {
        sortable: false,
        text: "باقی مانده",
        value: "remaining"
      },
      {
        sortable: false,
        text: "لغو شده",
        value: "cancelled"
      },
      {
        sortable: false,
        text: "جمع",
        value: "total"
      },
      {
        sortable: false,
        text: "کارمزد معامله",
        value: "tradeFee"
      },
      {
        sortable: false,
        text: "وضعیت",
        value: "status"
      }
    ]
  })
};
</script>
