<template>
  <v-row>
    <v-col cols="12">
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>نام و نام خانوادگی</h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            :label="!$vuetify.breakpoint.smAndUp ? 'نام و نام خانوادگی' : ''"
            v-model.trim="fullName"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>ایمیل</h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            :label="!$vuetify.breakpoint.smAndUp ? 'ایمیل' : ''"
            v-model.trim="email"
            type="email"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>کشور</h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-select
            :label="!$vuetify.breakpoint.smAndUp ? 'کشور' : ''"
            :items="country"
            v-model="selectCountry"
          >
          </v-select>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>تلفن</h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            :label="!$vuetify.breakpoint.smAndUp ? 'تلفن' : ''"
            dir="ltr"
            type="number"
            v-model.trim="phone"
            value="0304588115"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>آدرس</h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-textarea
            :label="!$vuetify.breakpoint.smAndUp ? 'آدرس' : ''"
            no-resize
            v-model="address"
            value="Genslerstraße 11"
            rows="2"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              وضعیت ایمیل
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            :label="!$vuetify.breakpoint.smAndUp ? 'وضعیت ایمیل' : ''"
            v-model="emailVerified"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="7"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              احراز هویت دو مرحله ای
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="10" offset="1" offset-sm="0" sm="5" md="4">
          <v-radio-group
            :label="
              !$vuetify.breakpoint.smAndUp ? 'احراز هویت دو مرحله ای' : ''
            "
            v-model="radioGroup"
            column
            dir="ltr"
          >
            <v-radio color="blue" label="فعال" value="active"></v-radio>
            <v-radio color="blue" label="غیر فعال" value="Inactive"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              بلاک کاربر
            </h3>
          </v-subheader>
        </v-col>
        <v-col offset="1" offset-sm="0" cols="10" sm="7" md="5">
          <v-switch
            :label="!$vuetify.breakpoint.smAndUp ? 'بلاک کاربر' : ''"
            color="blue"
            v-model="blockUser"
            hide-details
          ></v-switch>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              دلایل بلاک کاربر
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-textarea
            :label="!$vuetify.breakpoint.smAndUp ? 'دلایل بلاک کاربر' : ''"
            no-resize
            v-model="reasonsOfBlockUser"
            rows="2"
          ></v-textarea>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import VCleaveInputMixin from "@/plugins/mixins/VCleaveInputMixin.vue";
export default {
  mixins: [VCleaveInputMixin],
  name: "user-details",
  data: () => ({
    fullName: "Mavel Hustle",
    email: "denyefa02@gmail.com",
    blockUser: null,
    reasonsOfBlockUser: "",
    radioGroup: "active",
    phone: "0304588115",
    address: "Genslerstraße 11",
    emailVerified: "تایید شده",
    country: ["Germany", "Georgia", "Iran", "Iraq", "United State"],
    selectCountry: "Germany"
  })
};
</script>
