<template>
  <v-row>
    <v-col cols="12">
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              آدرس بیت کوین
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            v-model.trim="btcAddress"
            :label="!$vuetify.breakpoint.smAndUp ? 'آدرس بیت کوین' : ''"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              موجودی بیت کوین
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            type="number"
            v-model.trim="btcBalance"
            :label="!$vuetify.breakpoint.smAndUp ? 'موجودی بیت کوین' : ''"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              آدرس اتریوم
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            v-model.trim="ethAddress"
            :label="!$vuetify.breakpoint.smAndUp ? 'آدرس اتریوم' : ''"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              موجودی اتریوم
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            type="number"
            v-model.trim="ethBalance"
            :label="!$vuetify.breakpoint.smAndUp ? 'موجودی اتریوم' : ''"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              آدرس لایت کوین
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            v-model.trim="ltcAddress"
            :label="!$vuetify.breakpoint.smAndUp ? 'آدرس لایت کوین' : ''"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              موجودی لایت کوین
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            type="number"
            v-model.trim="ltcBalance"
            :label="!$vuetify.breakpoint.smAndUp ? 'موجودی لایت کوین' : ''"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              آدرس USD
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            type="number"
            v-model.trim="usdAddress"
            :label="!$vuetify.breakpoint.smAndUp ? 'آدرس USD' : ''"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              موجودی USD
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            v-model.trim="usdBalance"
            :label="!$vuetify.breakpoint.smAndUp ? 'موجودی USD' : ''"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <h2>
            به روز رسانی موجودی :
          </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              رمز ارز
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-select
            placeholder="ارز مورد نظر را انتخاب کنید"
            clearable
            :items="coins"
            v-model="selectCoin"
            :label="!$vuetify.breakpoint.smAndUp ? 'رمز ارز' : ''"
          ></v-select>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp"
          cols="12"
          sm="5"
          md="4"
          class="d-flex align-center"
        >
          <v-subheader>
            <h3>
              مقدار
            </h3>
          </v-subheader>
        </v-col>
        <v-col cols="12" sm="7" md="5">
          <v-text-field
            dir="ltr"
            v-model.trim="amountForUpdateCoinBalance"
            :label="!$vuetify.breakpoint.smAndUp ? 'مقدار' : ''"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4">
          <v-btn class="aqua">
            به روز رسانی
          </v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "wallet",
  data: () => ({
    btcAddress: "No Address",
    btcBalance: "0",
    ethAddress: "",
    ethBalance: "0",
    ltcAddress: "No Address",
    ltcBalance: "0",
    usdAddress: "No Address",
    usdBalance: "0",
    amountForUpdateCoinBalance: "",
    selectCoin: "",
    coins: ["BTC", "ETH", "LTC", "USD"]
  })
};
</script>
