<template>
  <v-data-table
    class="sheet"
    hide-default-footer
    no-data-text="اطلاعاتی وجود ندارد"
    loading-text="در حال دریافت اطلاعات"
    no-results-text="اطلاعاتی وجود ندارد"
    :items="withdrawItems"
    :headers="withdrawHeaders"
  >
  </v-data-table>
</template>
<script>
export default {
  name: "withdraw-coin",
  data: () => ({
    withdrawHeaders: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "ارز",
        value: "coin"
      },
      {
        sortable: false,
        text: "تاریخ",
        value: "date"
      },
      {
        sortable: false,
        text: "شناسه تراکنش",
        value: "tnx_id"
      },

      {
        sortable: false,
        text: "فرستنده",
        value: "Sender"
      },

      {
        sortable: false,
        text: "گیرنده",
        value: "recipient"
      },

      {
        sortable: false,
        text: "مقدار",
        value: "amount"
      },
      {
        sortable: false,
        text: "کار مزد ادمین",
        value: "admin_fee"
      },
      {
        sortable: false,
        text: "وضعیت",
        value: "status"
      }
    ],
    withdrawItems: []
  })
};
</script>
