@import "app/variables.scss";
@import "app/fixedTheme.scss";
@import "app/utiles.scss";
@import "app/routerAnimations.scss";

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir-Regular-FD-WOL-UI.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "IRAN Sans";
  src: url("//db.onlinewebfonts.com/t/766132c828a90cbecf6f7f4027d12725.eot");
  src: url("//db.onlinewebfonts.com/t/766132c828a90cbecf6f7f4027d12725.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/766132c828a90cbecf6f7f4027d12725.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/766132c828a90cbecf6f7f4027d12725.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/766132c828a90cbecf6f7f4027d12725.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/766132c828a90cbecf6f7f4027d12725.svg#IRAN Sans")
      format("svg");
}

.v-snack__wrapper {
  margin: 28px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--v-sheet-base) inset !important;
  -webkit-box-shadow: 0 0 0 1000px var(--v-sheet-base) inset !important;
  -webkit-text-fill-color: var(--v-info-base) !important;
}
