:focus {
  outline: none;
}

.v-application {
  background: var(--v-background-base) !important;
  font-family: "IRAN Sans", sans-serif !important;
}
*,
:after,
:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}
// scrllbar light #b2b4b8
// scrllbar dark #5e6673
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--v-scroll-base);
  border-radius: 3px;
  height: 90px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--v-track-base) !important;
  //background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
  border-radius: 3px;
}

p,
span,
label {
  // font-size: 11px;
  font-family: "IRAN Sans", sans-serif !important;
}
// th {
//   font-weight: normal !important;
//   font-size: 10px !important;
// }
a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-size: 12px !important;
  font-weight: normal !important;
  font-family: "IRAN Sans", sans-serif !important;
}
.v-btn {
  letter-spacing: normal !important;
  min-width: unset !important;
}
#nprogress .bar {
  background: #fcfcfc !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #fcfcfc, 0 0 5px #fcfcfc !important;
}

#nprogress .spinner-icon {
  border-top-color: #fcfcfc !important;
  border-left-color: #fcfcfc !important;
}

.v-tab {
  font-size: 16px !important;
}

td a:not(.v-btn):hover {
  text-decoration: underline;
}

td a:not(.v-btn) {
  color: var(--v-aqua-base) !important;
}

.vpd-day:not(.vpd-selected) .vpd-day-text {
  color: rgb(56, 50, 50);
}
.vpd-month-label > span {
  color: rgb(56, 50, 50);
}
.vpd-month-label > span:not(:hover) {
  color: rgb(56, 50, 50);
}
.vpd-day:not([disabled]).vpd-range-between .vpd-day-text {
  color: #fff !important;
}

.vpd-day:not([disabled]).vpd-range-hover .vpd-day-text {
  color: #fff !important;
}

.vpd-day:not([disabled]):hover .vpd-day-text {
  color: #fff !important;
}

.v-application--is-rtl
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding-right: 42px !important;
}
div[role="radiogroup"] legend {
  display: flex !important;
}
