.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-gradient {
  background: linear-gradient(
    118deg,
    rgba(130, 108, 226, 1),
    rgba(91, 59, 230, 0.7)
  ) !important;
  box-shadow: 0px 0px 10px 1px rgba(91, 59, 230, 0.7);
}
.cursor-pointer {
  cursor: pointer;
}

.text-light {
  color: #f0f6f9 !important;
}
.h-auto {
  height: auto !important;
}

.border-radius-left-5 {
  border-top-left-radius: 5px !important;
}
.border-radius-right-5 {
  border-top-right-radius: 5px !important;
}
.border-radius-top-5 {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}
.w-50 {
  width: 50% !important;
}
.font-10 {
  font-size: 10px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.opacity-2 {
  opacity: 0.22;
}
.opacity-1-5 {
  opacity: 0.15;
}

.ml2 {
  margin-left: 2px;
}
.mr2 {
  margin-right: 2px;
}

.theme--light .overlay-order {
  background-color: #b2b6b240;
}
.theme--dark .overlay-order {
  background-color: #878b8740;
}
.hover-top {
  border-top: 1px dashed rgb(235, 103, 15);
}

.hover-bottom {
  border-bottom: 1px dashed rgb(235, 103, 15) !important;
}

.price {
  font-size: 17px;
  margin: 0;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.text-h55 {
  font-family: "IRAN Sans" !important;
  font-size: 1.5rem !important;
}

.mb-2px {
  margin-bottom: 2px;
}

@media only screen and (max-width: 426px) {
  .card {
    margin-bottom: 0.2rem !important;
  }
  .card-body {
    padding: 10px;
  }

  .top-header-mobile {
    display: block !important;
    padding-top: 15px;
  }

  .top-header-mobile .card {
    margin-bottom: 1rem;
  }
  .top-header-mobile .card .card-body {
    padding: 1rem !important;
  }

  .v-toolbar__title {
    font-size: 14px !important;
  }
}

.t-strip .v-data-table__wrapper table tbody tr:nth-of-type(odd) {
  background-color: var(--v-strip-base) !important;
}

.leading-5 {
  line-height: 1.25rem;
}
.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 50px !important;
}

.h-screen {
  height: 100vh !important;
}
.h-full {
  height: 100% !important;
}
.w-full {
  width: 100% !important;
}
.minh-full {
  min-height: 100% !important;
}
