.layout--full-page {
  color: var(--v-main-base) !important;
  height: 100% !important;

  .login-tabs-container {
    min-height: 505px;
  }
  .d-theme-dark-bg {
    background-color: #2b3c46 !important;
  }
}

.bg-img {
  background-image: url("~@/assets/images/vuexy-login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
}
