<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-text>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="3"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>سوال</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="8">
                <v-text-field
                  :label="!$vuetify.breakpoint.smAndUp ? 'سوال' : ''"
                  v-model="question"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="3"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>توضیحات</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="8">
                <v-textarea
                  :label="!$vuetify.breakpoint.smAndUp ? 'توضیحات' : ''"
                  v-model="description"
                  rows="10"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-row>
              <v-col cols="12">
                <v-btn color="aqua darken-1" @click.prevent="updateFaq">
                  به روز رسانی
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    question: "آیا اطلاعات شخصی من ایمن هست؟",
    description:
      "Secure platform – Demoexchange Exchange employs the most reliable, effective security technologies available. We leverage an elastic, multi-stage wallet strategy to ensure that the majority of funds are kept in cold storage for additional safety. Also, Demoexchange Exchange enables two-factor authentication for all users and provides a host of additional security features to provide multiple layers of protection. At Demoexchange Exchange, security will always be a top priority in every decision we make. Custom-built trading engine – Our custom trading engine was designed to be scalable and to ensure that orders are executed in real-time. We also support third-party trading platforms and algorithmic trading via our extensive APIs. Fast deposits and withdrawals – Our highly efficient and automated monitoring platform allows us to provide users the fastest transactions available today. This includes updates on balance, trade, and wallet information. Driving Innovation – To help drive innovation in the blockchain industry, Demoexchange Exchange is committed to supporting both new and established blockchains. Demoexchange Exchange seeks to provide its users with an ever-growing selection of blockchain technologies and digital tokens, and all new digital tokens listed on the trading platform must complete a rigorous review process. Commitment to compliance – Demoexchange Exchange is committed to complying with all current regulations in the respective jurisdiction that help prevent, detect and remediate unlawful behavior by customers and virtual currency developers when using the Demoexchange Exchange trading platform or any of the company’s other services.  "
  }),
  methods: {
    updateFaq() {},
    getFaq(id) {}
  },
  mounted() {}
};
</script>
