<template>
  <v-container>
    <v-row>
      <v-col cols="6" offset="3">
        <v-card color="sheet">
          <v-card-text>
            <v-data-table
              class="sheet"
              hide-default-footer
              :headers="headers"
              :items="items"
            >
              <template v-slot:[`item.action`]>
                <v-btn
                  to="/faq/1"
                  link
                  class="ml-3"
                  color="aqua darken-1"
                  small
                >
                  مشاهده
                  <v-icon right>
                    mdi-eye-outline
                  </v-icon>
                </v-btn>

                <v-btn color="red" small>
                  حذف
                  <v-icon right>
                    mdi-delete
                  </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        sortable: false,
        text: "#",
        value: "id",
        align: "center"
      },
      {
        sortable: false,
        text: "سوال",
        value: "question",
        align: "center"
      },
      {
        sortable: false,
        text: "",
        value: "action",
        align: "left"
      }
    ],
    items: [
      {
        id: "1",
        question: "آیا اطلاعات شخصی من ایمن هست؟"
      }
    ]
  })
};
</script>
