<template>
  <v-container>
    <v-row>
      <v-col cols="12" offset="0" sm="10" offset-sm="1">
        <v-card color="sheet">
          <v-card-text>
            <ckeditor v-model="editorData" :config="editorConfig"></ckeditor>
          </v-card-text>
          <v-card-actions class="px-3 pb-2">
            <v-btn color="aqua darken-1" @click="handleClick">
              به روز رسانی
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    editorData: `<p>The Order Exchange is committed to protecting your privacy and
        developing technology that gives you the most powerful and safe
        online experience. This Statement of Privacy applies to all
        The Order Exchange web sites and governs data collection and usage.
        By using the The Order Exchange and associated brands websites,
        you consent to the data practices described in this statement.</p>`,
    editorConfig: {
      // The configuration of the editor.
    }
  }),
  methods: {
    handleClick() {
      console.log("editorData", this.editorData);
    }
  }
};
</script>
