<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="8" offset="0" offset-sm="2">
        <v-card color="sheet">
          <v-card-text>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="3"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>وب سایت</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="8">
                <v-text-field
                  dir="ltr"
                  :label="!$vuetify.breakpoint.smAndUp ? 'وب سایت' : ''"
                  v-model="webSite"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="3"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>فیسبوک</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="8">
                <v-text-field
                  dir="ltr"
                  :label="!$vuetify.breakpoint.smAndUp ? 'فیسبوک' : ''"
                  v-model="facebook"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="3"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>توئیتر</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="8">
                <v-text-field
                  dir="ltr"
                  :label="!$vuetify.breakpoint.smAndUp ? 'توئیتر' : ''"
                  v-model="twitter"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="3"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>اینستاگرام</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="8">
                <v-text-field
                  dir="ltr"
                  :label="!$vuetify.breakpoint.smAndUp ? 'اینستاگرام' : ''"
                  v-model="instagram"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="3"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>تلگرام</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="8">
                <v-text-field
                  dir="ltr"
                  :label="!$vuetify.breakpoint.smAndUp ? 'تلگرام' : ''"
                  v-model="telegram"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-row>
              <v-col cols="12">
                <v-btn @click.prevent="updateSocialMedia" color="aqua darken-1">
                  به روز رسانی
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    webSite: "https://www.pinterest.com",
    facebook: "https://facebook.com",
    twitter: "https://twitter.com",
    instagram: "https://instagram.com/highimpactcrypto",
    telegram: "https://telegram.com"
  }),
  methods: {
    updateSocialMedias() {},
    getSocialMediasData() {}
  },
  mounted() {}
};
</script>
