<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-text>
            <ckeditor v-model="editorData" :config="editorConfig"></ckeditor>
          </v-card-text>
          <v-card-actions class="px-3 pb-2">
            <v-btn color="aqua darken-1" @click="handleClick">
              به روز رسانی
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    editorData: "<p>Content of the editor.</p>",
    editorConfig: {
      // The configuration of the editor.
    }
  }),
  methods: {
    handleClick() {
      console.log("editorData", this.editorData);
    }
  }
};
</script>
