<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="markets"
              hide-default-footer
              class="sheet"
              no-data-text="بازاری وجود ندارد"
              no-results-text="بازاری وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              :loading="$store.state.app.loading"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="handlePageCount"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-btn
                  color="aqua darken-1"
                  small
                  @click="$router.push(`/market-settings/${item.id}`)"
                >
                  ویرایش
                  <v-icon right>
                    mdi-pencil
                  </v-icon>
                </v-btn>
              </template>

              <template v-slot:[`item.tradeEnable`]="{ item }">
                <span
                  :class="
                    `${item.tradeEnable ? 'success--text' : 'error--text'}`
                  "
                >
                  {{ item.tradeEnable ? "فعال" : "غیر فعال" }}
                </span>
              </template>

              <template v-slot:[`item.qtyMin`]="{ item }">
                <span>
                  {{ $formatIRNumber(item.qtyMin) }}
                </span>
              </template>
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination
                v-if="pagination.pageCount != 0"
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <!-- <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="handlePerPage"
              ></v-text-field> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    pagination: {
      page: 1,
      pageCount: 2,
      itemsPerPage: 10
    },
    headers: [
      {
        sortable: false,
        text: "بازار",
        value: "pair",
        align: "center"
      },
      {
        sortable: false,
        text: "کارمزد خریدار",
        value: "makerFee",
        align: "center"
      },
      {
        sortable: false,
        text: "کارمزد فروشنده",
        value: "takerFee",
        align: "center"
      },
      {
        sortable: false,
        text: "وضعیت بازار",
        value: "tradeEnable",
        align: "center"
      },
      {
        sortable: false,
        text: "حداقل مبلغ سفارش",
        value: "qtyMin",
        align: "center"
      },
      {
        sortable: false,
        text: "ساخته شده در",
        value: "createOn",
        align: "center"
      },
      {
        sortable: false,
        text: "",
        value: "actions",
        align: "center"
      }
    ],
    markets: [
      // {
      //   id: 1,
      //   pair: "IRT_BTC",
      //   makerFee: "0.000043",
      //   takerFee: "0.000078",
      //   tradeEnable: true,
      //   qtyMin: "40,000,000"
      // },
    ]
  }),
  methods: {
    handlePageCount(val1, val2) {
      this.pagination.pageCount = val1;
    },
    getMarkets() {
      this.$http.get("/MarketSetting").then(res => {
        console.log("res", res);
        this.setItems(res.data);
      });
    },
    setItems(data) {
      this.markets = [];
      data?.map((item, index) => {
        this.markets.push({
          ...item,
          makerFee: item.makerFee.value,
          pair: item.pair.value,
          takerFee: item.takerFee.value
        });
      });
    }
  },
  mounted() {
    this.getMarkets();
  }
};
</script>
