<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="10" lg="8" offset="0" offset-sm="1" offset-lg="2">
        <v-card
          color="sheet"
          :loading="$store.state.app.loading ? 'info' : false"
        >
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>نام بازار</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-text-field
                    :label="!$vuetify.breakpoint.smAndUp ? 'نام بازار' : ''"
                    v-model="pair"
                    disabled
                    dir="ltr"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>کارمزد خریدار</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-cleave-input
                    v-model="makerFee"
                    :label="!$vuetify.breakpoint.smAndUp ? 'کارمزد خریدار' : ''"
                    :rules="makerFeeRules"
                  >
                  </v-cleave-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>کارمزد فروشنده</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-cleave-input
                    v-model="takerFee"
                    :label="
                      !$vuetify.breakpoint.smAndUp ? 'کارمزد فروشنده' : ''
                    "
                    :rules="takerFeeRules"
                  >
                  </v-cleave-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>حداقل مبلغ سفارش</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-cleave-input
                    v-model="qtyMin"
                    :label="
                      !$vuetify.breakpoint.smAndUp ? 'حداقل مبلغ سفارش' : ''
                    "
                    :rules="qtyMinRules"
                  >
                  </v-cleave-input>
                </v-col>
              </v-row>

              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>فعال بودن بازار</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-checkbox
                    color="aqua"
                    v-model="tradeEnable"
                    :label="
                      !$vuetify.breakpoint.smAndUp ? 'فعال بودن بازار' : ''
                    "
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>

          <v-card-actions class="pb-3">
            <v-row>
              <v-col cols="12" class="d-flex justify-center">
                <v-btn
                  @click.prevent="updateMarketSettings"
                  color="aqua"
                  :loading="loading"
                >
                  به روز رسانی
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import VCleaveInput from "@/components/VCleaveInput.vue";
import VCleaveInputMixin from "@/plugins/mixins/VCleaveInputMixin.vue";

export default {
  components: {
    VCleaveInput
  },
  mixins: [VCleaveInputMixin],
  data: vm => ({
    id: "",
    pair: "",
    makerFee: "",
    takerFee: null,
    tradeEnable: true,
    qtyMin: null,
    makerFeeRules: [
      v => !!v || "کارمزد خریدار الزامی هست"
      // v => (v && v >= 0) || "کارمزد خریدار نمیتواند از صفر کمتر باشد"
    ],
    takerFeeRules: [
      v => !!v || "کارمزد فروشنده الزامی هست"
      // v => (v && v >= 0) || "کارمزد فروشنده نمیتواند از صفر کمتر باشد"
    ],
    qtyMinRules: [
      v => !!v || "حداقل مبلغ سفارش الزامی هست"
      // v => (v && v >= 0) || "حداقل مبلغ سفارش نمیتواند صفر یا کمتر از صفر باشد"
      // v => {
      //   v = vm.splitComma(v);
      //   return (
      //     (v && v > 0) || "حداقل مبلغ سفارش نمیتواند صفر یا کمتر از صفر باشد"
      //   );
      // }
    ],
    loading: false,
    valid: true
  }),
  methods: {
    splitComma(val) {
      if (!val) {
        val = "";
      }
      let result = val.toString().replace(/,/g, "");
      return +result;
    },
    updateMarketSettings() {
      let valid = this.$refs.form.validate();
      if (valid) {
        this.loading = true;
        let data = {
          id: this.id,
          makerFee: +this.makerFee,
          takerFee: +this.takerFee,
          tradeEnable: this.tradeEnable,
          qtyMin: +this.qtyMin
        };
        console.log("data", data);
        this.$http
          .put("/MarketSetting", data)
          .then(res => {
            this.$showSnackbar({
              content: "به روز رسانی با موفقیت انجام شد",
              color: "success2"
            });
            this.$router.push("/markets-settings");
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    getMarketSettingById(id) {
      this.$http.get(`/MarketSetting/${id}`).then(
        res => {
          console.log("res MarketSetting", res);
          this.id = id;
          this.makerFee = res.data.makerFee.value.toString();
          this.takerFee = res.data.takerFee.value.toString();
          this.pair = res.data.pair.value;
          this.qtyMin = res.data.qtyMin.toString();
          this.tradeEnable = res.data.tradeEnable;
        },
        err => {
          console.log("err", err);
        }
      );
    }
  },
  mounted() {
    this.getMarketSettingById(this.$route.params.marketId);
  }
};
</script>
