<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet" v-if="headers && coins">
          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="coins"
              hide-default-footer
              class="sheet"
              no-data-text="ارزی وجود ندارد"
              no-results-text="ارزی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              :loading="loading"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="handlePageCount"
            >
              <template v-slot:[`item.withdrawEnable`]="{ item }">
                <v-icon :color="item.withdrawEnable ? 'success' : 'red'">
                  {{
                    item.withdrawEnable ? "mdi-check-bold" : "mdi-close-thick"
                  }}
                </v-icon>
              </template>
              <template v-slot:[`item.depositEnable`]="{ item }">
                <v-icon :color="item.depositEnable ? 'success' : 'red'">
                  {{
                    item.depositEnable ? "mdi-check-bold" : "mdi-close-thick"
                  }}
                </v-icon>
              </template>
              <template v-slot:[`item.isDefault`]="{ item }">
                <span
                  :class="`${item.isDefault ? 'success--text' : 'error--text'}`"
                >
                  {{ item.isDefault ? "فعال" : "غیر فعال" }}
                </span>
              </template>

              <template v-slot:[`item.actions`]="{ item }">
                <v-btn
                  color="aqua darken-1"
                  small
                  @click="$router.push(`/coin-setting/${item.id}`)"
                >
                  ویرایش
                  <v-icon right>
                    mdi-pencil
                  </v-icon>
                </v-btn>
              </template>
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination
                v-if="pagination.pageCount != 0"
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <!-- <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="handlePerPage"
              ></v-text-field> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    coins: [
      // {
      //   id: "1",
      //   coin: "BTC",
      //   network: "BTC",
      //   withdrawEnable: true,
      //   depositEnable: false,
      //   withdrawMin: "0.0000054",
      //   withdrawFee: "0.0000027",
      //   withdrawDesc: "lorem ipsum",
      //   depostiDesc: "lorem ipsum",
      //   desc: "- - - - - - - - -",
      //   freez: "8"
      // },
    ],
    headers: [
      {
        sortable: false,
        text: "نام ارز",
        value: "coin",
        align: "center"
      },
      {
        sortable: false,
        text: "نام شبکه",
        value: "network",
        align: "center"
      },

      {
        sortable: false,
        text: "وضعیت واریز",
        value: "depositEnable",
        align: "center"
      },
      {
        sortable: false,
        text: "توضیحات واریز",
        value: "depositDesc",
        align: "center"
      },
      {
        sortable: false,
        text: "وضعیت برداشت",
        value: "withdrawEnable",
        align: "center"
      },
      {
        sortable: false,
        text: "حداقل برداشت",
        value: "withdrawMin",
        align: "center"
      },
      {
        sortable: false,
        text: "حداکثر برداشت",
        value: "withdrawMax",
        align: "center"
      },
      {
        sortable: false,
        text: "کارمزد برداشت",
        value: "withdrawFee",
        align: "center"
      },
      {
        sortable: false,
        text: "توضیحات برداشت",
        value: "withdrawDesc",
        align: "center"
      },
      {
        sortable: false,
        text: "فعال به عنوان پیش فرض",
        value: "isDefault",
        align: "center"
      },

      // {
      //   sortable: false,
      //   text: "توضیحات",
      //   value: "desc",
      //   align: "center"
      // },
      // {
      //   sortable: false,
      //   text: "تعداد اعشار",
      //   value: "freez",
      //   align: "center"
      // },
      {
        sortable: false,
        text: "",
        value: "actions",
        align: "center"
      }
    ],
    pagination: {
      page: 1,
      pageCount: 2,
      itemsPerPage: 10
    },
    loading: false
  }),
  methods: {
    handlePageCount(val1, val2) {
      this.pagination.pageCount = val1;
    },
    getData() {
      this.loading = true;
      this.$http
        .get("/CoinSetting")
        .then(res => {
          console.log("res", res);
          this.setItems(res.data);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    setItems(data) {
      this.coins = [];
      data?.map((item, index) => {
        this.coins.push({
          ...item,
          coin: item.coin.title,
          network: item.network.title
        });
      });
    },
    setHeaders(allCommissions) {
      this.headers = [];
      let res = Object.entries(allCommissions.data[0]);
      res.map((item, index) => {
        this.headers.push({
          text: this.capitalizeFirstLetter(item[0]),
          value: item[0],
          sortable: false,
          align: "center"
        });
      });
      this.headers = this.headers.filter(
        h => h.value !== "new_position_id" && h.value !== "position_id"
      );
      this.headers.push({
        text: "Commissions",
        value: "actions",
        sortable: false,
        align: "center"
      });
    },
    capitalizeFirstLetter(string) {
      let worlds = string.split("_").join(" ");
      return worlds.charAt(0).toUpperCase() + worlds.slice(1);
    }
    // setItems(data) {
    //   this.items = [];
    //   data?.data?.map((item, index) => {
    //     this.items.push({
    //       id: item.id,
    //       amount: item.amount,
    //       new_position: item.new_position?.code,
    //       position: item.position?.code,
    //       percent: item.percent,
    //       created_at: this.computeDateTime(item.created_at)
    //     });
    //   });
    // }
  },
  mounted() {
    this.getData();
  }
};
</script>
