<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="10" lg="8" offset="0" offset-sm="1" offset-lg="2">
        <v-card color="sheet">
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>نام ارز</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-text-field
                    :label="!$vuetify.breakpoint.smAndUp ? 'نام ارز' : ''"
                    v-model="coin"
                    disabled
                    dir="ltr"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>نام شبکه</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-text-field
                    dir="ltr"
                    disabled
                    :label="!$vuetify.breakpoint.smAndUp ? 'نام شبکه' : ''"
                    v-model="network"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>حداقل برداشت</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-cleave-input
                    v-model="withdrawMin"
                    :label="!$vuetify.breakpoint.smAndUp ? 'حداقل برداشت' : ''"
                    :rules="withdrawMinRules"
                  >
                  </v-cleave-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>حداکثر برداشت</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-cleave-input
                    v-model="withdrawMax"
                    :label="!$vuetify.breakpoint.smAndUp ? 'حداکثر برداشت' : ''"
                  >
                  </v-cleave-input>
                </v-col>
              </v-row>

              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>کارمزد برداشت</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-cleave-input
                    v-model="withdrawFee"
                    :label="!$vuetify.breakpoint.smAndUp ? 'کارمزد برداشت' : ''"
                    :rules="withdrawFeeRules"
                  >
                  </v-cleave-input>
                </v-col>
              </v-row>

              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>توضیحات واریز</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-textarea
                    :label="!$vuetify.breakpoint.smAndUp ? 'توضیحات واریز' : ''"
                    v-model="depostiDesc"
                    rows="2"
                    :rules="depositDescRules"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>توضیحات برداشت</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-textarea
                    :label="
                      !$vuetify.breakpoint.smAndUp ? 'توضیحات برداشت' : ''
                    "
                    v-model="withdrawDesc"
                    :rules="withdrawDescRules"
                    rows="2"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>فعال بودن واریز</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-checkbox
                    color="aqua"
                    v-model="depositEnable"
                    @change="handleDepositEnable"
                    :label="
                      !$vuetify.breakpoint.smAndUp ? 'فعال بودن واریز' : ''
                    "
                  ></v-checkbox>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>فعال بودن برداشت</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-checkbox
                    color="aqua"
                    v-model="withdrawEnable"
                    @change="handleWithdrawEnable"
                    :label="
                      !$vuetify.breakpoint.smAndUp ? 'فعال بودن برداشت' : ''
                    "
                  ></v-checkbox>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="$vuetify.breakpoint.smAndUp"
                  cols="12"
                  sm="5"
                  md="4"
                  class="d-flex align-center"
                >
                  <v-subheader>
                    <h3>انتخاب به عنوان پیش فرض</h3>
                  </v-subheader>
                </v-col>
                <v-col cols="12" sm="7" md="5" offset-md="2" offset-sm="0">
                  <v-checkbox
                    color="aqua"
                    v-model="isDefault"
                    :label="
                      !$vuetify.breakpoint.smAndUp
                        ? 'انتخاب به عنوان پیش فرض'
                        : ''
                    "
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-card-actions class="pb-3">
            <v-row>
              <v-col cols="12" class="d-flex justify-center">
                <v-btn class="" @click.prevent="updateSettings" color="aqua">
                  به روز رسانی
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import VCleaveInput from "@/components/VCleaveInput";

export default {
  components: {
    VCleaveInput
  },
  data: vm => ({
    id: "",
    coin: "",
    network: "",
    valid: true,
    withdrawEnable: null,
    withdrawMin: null,
    withdrawFee: null,
    withdrawMax: null,
    withdrawDesc: "",
    depositEnable: null,
    depostiDesc: "",
    isDefault: null,
    withdrawFeeRules: [v => !!v || "مقدار کارمزد برداشت الزامی است"],
    withdrawMinRules: [v => !!v || "مقدار حداقل برداشت الزامی است"],
    loading: false,
    depositDescRules: [
      v => {
        console.log("vm.depositEnable", vm.depositEnable);
        if (vm.depositEnable == false) {
          if (v) {
            return true;
          }
          return "توضیحات واریز الزامی میباشد";
        }
        return true;
      }
    ],
    withdrawDescRules: [
      v => {
        console.log("vm.withdrawEnable", vm.withdrawEnable);
        if (vm.withdrawEnable == false) {
          if (v) {
            return true;
          }
          return "توضیحات برداشت الزامی میباشد";
        }
        return true;
      }
    ],
    backData: {}
  }),
  methods: {
    updateSettings() {
      let valid = this.$refs.form.validate();
      if (valid) {
        this.loading = true;
        let data = {
          id: this.id,
          wihdrawFee: +this.withdrawFee,
          withdrawMin: +this.withdrawMin,
          withdrawMax: +this.withdrawMax,
          withdrawEnable: this.withdrawEnable,
          withdrawDesc: this.withdrawDesc,
          isDefault: this.isDefault,
          depositEnable: this.depositEnable,
          depositDesc: this.depostiDesc
        };

        console.log("data", data);
        this.$http
          .put("/CoinSetting", data)
          .then(res => {
            this.$showSnackbar({
              content: "به روز رسانی با موفقیت انجام شد",
              color: "success2"
            });
            this.$router.replace("/coins-settings");
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    getCoinSettingById(id) {
      this.$http.get(`CoinSetting/${id}`).then(res => {
        console.log("res CoinSetting", res);
        this.backData = res.data;
        this.id = res.data.id;
        this.withdrawMin = res.data.withdrawMin.toString();
        this.withdrawMax = res.data.withdrawMax.toString();
        this.withdrawDesc = res.data.withdrawDesc.toString();
        this.withdrawFee = res.data.withdrawFee.toString();
        this.withdrawEnable = res.data.withdrawEnable;
        this.isDefault = res.data.isDefault;
        this.depositEnable = res.data.depositEnable;
        this.coin = res.data.coin.title;
        this.network = res.data.network.title;
        this.depostiDesc = res.data.depositDesc;
      });
    },
    handleWithdrawEnable() {
      this.$refs.form.validate();
    },
    handleDepositEnable() {
      this.$refs.form.validate();
    }
  },
  mounted() {
    this.getCoinSettingById(this.$route.params.id);
  }
};
</script>
