<template>
  <v-container id="dashboard-view" fluid tag="section">
    <v-row>
      <v-col v-for="(item, i) in stats" :key="i" cols="12" md="6" lg="3">
        <v-card color="sheet">
          <v-card-text>
            <v-list subheader two-line color="sheet">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title class=" mb-2">
                    <h3>
                      {{ item.title }}
                    </h3>
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    <h2>{{ item.value }}</h2>
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-icon large color="grey lighten-1">
                    {{ item.icon }}
                  </v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
          <!-- <v-divider class="mt-2 mx-4" />

        <v-card-actions class="px-4 text-caption grey--text flex-row-reverse">
          <p>fsf</p>
        </v-card-actions> -->
        </v-card>
      </v-col>

      <v-col cols="12" md="6">
        <v-card color="sheet" class="mb-4">
          <v-card-title>
            <h1 class="pa-2 white--text">
              آخرین کاربران ثبت نام شده (در انتظار)
            </h1>
          </v-card-title>

          <v-divider class="mx-4" />
          <v-card-text>
            <v-data-table
              hide-default-footer
              class="sheet"
              :headers="headers"
              :items="items"
            >
              <template v-slot:[`item.actions`]>
                <v-btn
                  color="aqua darken-1"
                  small
                  @click="$router.push('/user-pending')"
                >
                  مشاهده
                  <v-icon right>
                    mdi-eye-outline
                  </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>

        <v-card color="sheet">
          <v-card-title>
            <h1 class="pa-2 white--text">
              آخرین درخواست برداشت(در انتظار)
            </h1>
          </v-card-title>
          <v-divider class="mx-4" />
          <v-card-text>
            <v-data-table
              hide-default-footer
              class="sheet"
              :headers="headersWithdraw"
              :items="WithdrawItems"
            >
              <template v-slot:[`item.actions`]>
                <v-btn
                  color="aqua darken-1"
                  small
                  @click="$router.push('/withdraw-history-user')"
                >
                  مشاهده
                  <v-icon right>
                    mdi-eye-outline
                  </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" md="6">
        <v-card color="sheet" class="mb-4">
          <v-card-title>
            <h1 class="pa-2 white--text">
              جزئیات کاربران
            </h1>
          </v-card-title>
          <v-divider class="mx-4" />
          <v-card-text>
            <v-list subheader two-line color="sheet">
              <v-list-item v-for="detail in detailUsers" :key="detail.title">
                <v-list-item-content>
                  <v-list-item-title class="mb-2">
                    <h3 v-text="detail.title"></h3>
                  </v-list-item-title>

                  <v-list-item-subtitle>
                    <h2 v-text="detail.count"></h2>
                  </v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                  <v-icon large color="grey lighten-1">{{
                    detail.icon
                  }}</v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>

        <v-card color="sheet">
          <v-card-title>
            <h1 class="pa-2 white--text">
              آخرین اعلانات به پشتیبانی
            </h1>
          </v-card-title>
          <v-divider class="mx-4" />
          <v-card-text>
            <v-data-table
              :headers="headersTickets"
              hide-default-footer
              class="sheet"
              :items="TicketsItems"
            >
              <template v-slot:[`item.actions`]>
                <v-btn color="aqua darken-1" small>
                  مشاهده
                  <v-icon right>
                    mdi-eye-outline
                  </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- <v-col cols="12" md="6">
  
      </v-col> -->
      <!-- <v-col cols="12" md="6"> </v-col> -->
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "DashboardView",

  data: () => ({
    detailUsers: [
      {
        title: "جمع کاربران",
        count: "60",
        icon: "mdi-account-group"
      },
      {
        title: "کاربران تایید شده",
        count: "23",
        icon: "mdi-marker-check"
      }
    ],
    headers: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "نام کاربری",
        value: "name"
      },
      {
        sortable: false,
        text: "تایید شده",
        value: "verify",
        align: "right"
      },
      {
        sortable: false,
        text: "ساعت و تاریخ",
        value: "date",
        align: "right"
      },
      {
        sortable: false,
        text: "",
        value: "actions",
        align: "right"
      }
    ],
    headersWithdraw: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "نام کاربری",
        value: "name"
      },
      {
        sortable: false,
        text: "ارز/توکن",
        value: "coin",
        align: "right"
      },
      {
        sortable: false,
        text: "ساعت و تاریخ",
        value: "date",
        align: "right"
      },
      {
        sortable: false,
        text: "مقدار",
        value: "amount",
        align: "right"
      },
      {
        sortable: false,
        text: "وضعیت",
        value: "status",
        align: "right"
      },
      {
        sortable: false,
        text: "کارمزد برداشت",
        value: "withdrawFee",
        align: "right"
      },
      {
        sortable: false,
        text: "",
        value: "actions",
        align: "right"
      }
    ],
    headersTickets: [
      {
        sortable: false,
        text: "شناسه",
        value: "id"
      },
      {
        sortable: false,
        text: "نام کاربری",
        value: "name"
      },
      {
        sortable: false,
        text: "موضوع",
        value: "subject",
        align: "right"
      },
      {
        sortable: false,
        text: "ساعت و تاریخ",
        value: "date",
        align: "right"
      },
      {
        sortable: false,
        text: "پیام",
        value: "message",
        align: "right"
      },
      {
        sortable: false,
        text: "",
        value: "actions",
        align: "right"
      }
    ],
    TicketsItems: [
      {
        id: "VSR2585",
        name: "Test user",
        date: "05-20-2021 11:48:58",
        subject: "new",
        message: "abcdefghijklmnopqrst"
      },
      {
        id: "VSR9494",
        name: "Test user",
        date: "03-19-2021 11:38:47",
        subject: "ok",
        message: "ok"
      },
      {
        id: "VSR5825",
        name: "Test user",
        date: "03-03-2021 14:39:08",
        subject: "que pasa",
        message: "hola"
      },
      {
        id: "VSR2732",
        name: "saro",
        date: "02-22-2021 15:22:21",
        subject: "hey",
        message: "hi"
      },
      {
        id: "VSR2043",
        name: "Test user",
        date: "02-22-2021 15:22:21",
        subject: "test",
        message: "test1"
      },
      {
        id: "VSR4627",
        name: "testguru",
        date: "02-22-2021 15:22:21",
        subject: "trest",
        message: "hi"
      },
      {
        id: "VSR9394",
        name: "Test user",
        date: "10-21-2020 12:32:48",
        subject: "test",
        message: "testx"
      },
      {
        id: "VSR4576",
        name: "Test user",
        date: "10-21-2020 07:12:51",
        subject: "Check",
        message: "Check"
      },
      {
        id: "VSR1957",
        name: "Test user",
        date: "10-21-2020 07:12:35",
        subject: "Hello",
        message: "Hello"
      }
    ],
    WithdrawItems: [
      {
        id: 1,
        name: "Test user",
        date: "04-10-2021 17:16:57",
        withdrawFee: "0.01210000",
        status: "در انتظار تایید",
        amount: "2.00000000",
        coin: "BTC"
      },
      {
        id: 2,
        name: "Test user",
        date: "03-29-2021 17:48:52",
        withdrawFee: "0.02464060",
        status: "در انتظار تایید",
        amount: "4.09010000",
        coin: "BTC"
      }
    ],
    items: [
      {
        id: 1,
        name: "Dakota Rice",
        date: "04-16-2021  23:48:11",
        verify: "در انتظار تایید"
      },
      {
        id: 2,
        name: "Minerva Hooper",
        date: "08-31-2020  14:00:13",
        verify: "در انتظار تایید"
      },
      {
        id: 3,
        name: "Sage Rodriguez",
        date: "04-16-2021  23:48:11",
        verify: "در انتظار تایید"
      },
      {
        id: 4,
        name: "Philip Chanley",
        date: "08-29-2020  06:26:54",
        verify: "در انتظار تایید"
      },
      {
        id: 5,
        name: "Doris Greene",
        date: "08-31-2020  14:00:13",
        verify: "در انتظار تایید"
      }
    ],
    stats: [
      {
        actionIcon: "mdi-alert",
        actionText: "Get More Space...",
        color: "aqua",
        icon: "mdi-swap-horizontal",
        title: "معاملات انجام شده",
        value: "89"
      },
      {
        actionIcon: "mdi-tag",
        actionText: "Tracked from Google Analytics",
        color: "orange",
        icon: "mdi-cart",
        title: "خرید های در انتظار",
        value: "2"
      },
      {
        actionIcon: "mdi-calendar-range",
        actionText: "Last 24 Hours",
        color: "success2",
        icon: "mdi-shopping",
        title: "فروش های در انتظار",
        value: "16"
      },
      {
        actionIcon: "mdi-history",
        actionText: "Just Updated",
        color: "red",
        icon: "mdi-ticket ",
        title: "اعلانات پشتیبانی خوانده نشده",
        value: "0"
      }
    ],
    tabs: 0,
    tasks: {
      0: [
        {
          text: 'Sign contract for "What are conference organizers afraid of?"',
          value: true
        },
        {
          text: "Lines From Great Russian Literature? Or E-mails From My Boss?",
          value: false
        },
        {
          text:
            "Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit",
          value: false
        },
        {
          text: "Create 4 Invisible User Experiences you Never Knew About",
          value: true
        }
      ],
      1: [
        {
          text:
            "Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit",
          value: true
        },
        {
          text: 'Sign contract for "What are conference organizers afraid of?"',
          value: false
        }
      ],
      2: [
        {
          text: "Lines From Great Russian Literature? Or E-mails From My Boss?",
          value: false
        },
        {
          text:
            "Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit",
          value: true
        },
        {
          text: 'Sign contract for "What are conference organizers afraid of?"',
          value: true
        }
      ]
    }
  })
};
</script>
