<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-text class="">
            <v-data-table
              class="sheet"
              :headers="headers"
              :items="items"
              hide-default-footer
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              no-data-text="تاریخچه واریزی وجود ندارد"
              no-results-text="تاریخچه واریزی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              @page-count="handlePageCount"
            >
              <template v-slot:[`item.userName`]="{ item }">
                <router-link to="/user">
                  {{ item.userName }}
                </router-link>
              </template>
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination
                v-if="pagination.pageCount != 0"
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <!-- <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="handlePerPage"
              ></v-text-field> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "نام کاربری",
        value: "userName"
      },
      {
        sortable: false,
        text: "تاریخ",
        value: "time"
      },
      {
        sortable: false,
        text: "شناسه پیگیری",
        value: "tx_id"
      },
      {
        sortable: false,
        text: "فرستنده",
        value: "sender"
      },
      {
        sortable: false,
        text: "گیرنده",
        value: "recipient"
      },
      {
        sortable: false,
        text: "مقدار",
        value: "amount"
      },
      {
        sortable: false,
        text: "",
        value: "action"
      }
    ],
    items: [
      {
        id: "1",
        userName: "brianlee",
        time: "29-03-2021 17:15:14",
        tx_id: "VRSnlr1E439UGZh933EX",
        sender: "admindeposit",
        recipient: "0x74a8b9a332f03797906068c4bc87216a216f79cc",
        amount: "3.00000000",
        action: "-"
      },
      {
        id: "2",
        userName: "NASRIN",
        time: "29-08-2020 06:38:26",
        tx_id: "VRST0u1lcq4lOGtCMFEX",
        sender: "admindeposit",
        recipient: "0xb04cfcf7d0cd46d7e6a0b36b6f9aaefdfa04c0af",
        amount: "100.00000000",
        action: "-"
      },
      {
        id: "3",
        userName: "Mytheeeeen",
        time: "28-08-2020 11:42:02",
        tx_id: "VRS59TCpUDrJyG8bYaEX",
        sender: "admindeposit",
        recipient: "0x3c3d11fd20d485e2c23d0aeaa84c7300f13e3fab",
        amount: "90.00000000",
        action: "-"
      }
    ],
    pagination: {
      page: 1,
      pageCount: 10,
      itemsPerPage: 10
    }
  }),
  methods: {
    handlePageCount(val) {
      this.pagination.pageCount = val;
    }
  },
  beforeRouteUpdate(to, from, next) {
    console.log("beforeRouteUpdate updated");
    next();
  }
  //   beforeRouteUpdate(to, from, next) {
  //   // react to route changes...
  //   // don't forget to call next()
  // }
};
</script>
