<template>
  <v-text-field
    dir="ltr"
    :value="local"
    :label="$props.label"
    type="text"
    v-bind="[$props, $attrs]"
    @keypress="onKeyPress"
    @input="handleInput"
  >
  </v-text-field>
</template>

<script>
export default {
  name: "v-cleave-input",
  props: {
    value: {
      type: String
    },
    label: {
      type: String
    }
  },
  data() {
    return {
      local: this.value
    };
  },
  watch: {
    value(newVal, oldVal) {
      this.handleInputWatch(newVal);
    }
  },
  methods: {
    onKeyPress(evt) {
      let result = evt.target.value.replace(/,/g, "");
      result = result.split(".");
      // console.log("result: ", result[1].length);
      if (result[1] && result[1].length >= 6) {
        evt.preventDefault();
      }

      let arr = ["۰", "۱", "۲", "۳", "۴", "۵", "۶", "۷", "۸", "۹"];
      let rez = arr.find(a => a == evt.key);
      if (rez) {
        window.alert("لطفا زبان کیبورد تان را انگلیسی کنید");
      }
      if (evt.which == 46) {
        let dotext = evt.target.value.includes(".");
        if (dotext || evt.target.value == "") {
          evt.preventDefault();
        }
        return;
      }
      if (evt.which < 48 || evt.which > 57) {
        evt.preventDefault();
      }
    },
    thousands_separators(num) {
      if (!num) {
        this.local = "";
        return this.local;
      }
      num = num.toString().replace(/,/g, "");
      let num_parts = num.split(".");
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      this.local = num_parts.join(".");

      return num;
    },
    handleInput(val) {
      let result = this.thousands_separators(val);
      this.$emit("input", result);
    },
    handleInputWatch(val) {
      this.thousands_separators(val);
    }
  }
};
</script>
