<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-text>
            <v-data-table class="sheet" :headers="headers" :items="items" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        id: "1",
        coin: "BTC",
        name: "بیت کوین",
        withdraw: "0.6",
        tradeBuy: "1.2",
        tradeSell: "1.2",
        fee: "0.00010000",
        status: "نمایش/ویرایش"
      },
      {
        id: "2",
        coin: "ETH",
        name: "اتریوم",
        withdraw: "1",
        tradeBuy: "0",
        tradeSell: "0",
        fee: "0.00042000",
        status: "نمایش/ویرایش"
      },
      {
        id: "3",
        coin: "LTC",
        name: "لایت کوین",
        withdraw: "1",
        tradeBuy: "0",
        tradeSell: "0",
        fee: "0.00000000",
        status: "نمایش/ویرایش"
      },
      {
        id: "4",
        coin: "USD",
        name: "دلار آمریکا",
        withdraw: "1",
        tradeBuy: "0.9",
        tradeSell: "0.9",
        fee: "0.00000000",
        status: "نمایش/ویرایش"
      }
    ],
    headers: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "ارز/واحد پول",
        value: "coin"
      },
      {
        sortable: false,
        text: "نام",
        value: "name"
      },
      {
        sortable: false,
        text: "برداشت",
        value: "withdraw"
      },
      {
        sortable: false,
        text: "معامله خرید",
        value: "tradeBuy"
      },
      {
        sortable: false,
        text: "معامله فروش",
        value: "tradeSell"
      },
      {
        sortable: false,
        text: "کارمزد",
        value: "fee"
      },
      {
        sortable: false,
        text: "وضعیت",
        value: "status"
      }
    ]
  })
};
</script>
