<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-title>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="search"
                label="جستجو بر اساس نام و ایمیل"
              >
              </v-text-field>
            </v-col>
            <v-col cols="2">
              <v-select
                dense
                label="بازار"
                v-model="marketItem"
                :items="marketItems"
              ></v-select>
            </v-col>
            <v-col cols="2">
              <v-select
                dense
                label="نوع معامله"
                v-model="filterItem"
                :items="filterItems"
              ></v-select>
            </v-col>
            <v-col cols="2">
              <v-text-field
                dense
                id="my-custom-input"
                v-model="inputDate"
                label="تاریخ"
                dir="ltr"
              />
              <date-picker
                element="my-custom-input"
                range
                v-model="date"
                @input="pickerInput"
              ></date-picker>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="1" class="d-flex justify-center">
              <v-icon x-large>
                mdi-filter-outline
              </v-icon>
            </v-col>
          </v-card-title>
          <v-card-text>
            <v-data-table
              class="sheet"
              :items="items"
              :headers="headers"
              hide-default-footer
              :search="search"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="pagination.pageCount = $event"
              no-data-text="اطلاعاتی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              no-results-text="اطلاعاتی وجود ندارد"
            >
              <template v-slot:[`item.actions`]>
                <v-btn color="aqua darken-1" small>
                  لغو
                </v-btn>
              </template>
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="pagination.itemsPerPage = parseInt($event, 10)"
              ></v-text-field>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: vm => ({
    search: "",
    range: [],
    marketItem: "همه",
    marketItems: ["همه", "BTC/USD", "ETH/USD", "LTC/USD"],
    filterItems: ["خرید", "فروش"],
    filterItem: "خرید",
    pagination: {
      page: 1,
      pageCount: 10,
      itemsPerPage: 10
    },
    headers: [
      {
        sortable: false,
        text: "#",
        value: "id",
        filterable: false
      },
      {
        sortable: false,
        text: "نام کاربری",
        value: "userName",
        filterable: true
      },
      {
        sortable: false,
        text: "ایمیل",
        value: "email",
        filterable: true
      },
      {
        sortable: false,
        text: "تاریخ",
        value: "date",
        filterable: false
      },

      {
        sortable: false,
        text: "نوع معامله",
        value: "trade_type",
        filterable: false
      },
      {
        sortable: false,
        text: "جفت معامله",
        value: "trade_pair",
        filterable: false
      },
      {
        sortable: false,
        text: "مقدار",
        value: "amount",
        filterable: false
      },
      {
        sortable: false,
        text: "قیمت",
        value: "price",
        filterable: false
      },

      {
        sortable: false,
        text: "باقی مانده",
        value: "remaining",
        filterable: false
      },

      {
        sortable: false,
        text: "کارمزد ها",
        value: "fee",
        filterable: false
      },
      {
        sortable: false,
        text: "مجموع قیمت",
        value: "total",
        filterable: false
      },

      {
        sortable: false,
        text: "",
        value: "actions",
        filterable: false
      }
    ],
    items: [],
    date: vm.changePersianNumbertoEnglish(
      new Date().toLocaleDateString("fa-IR")
    ),
    inputDate: vm.changePersianNumbertoEnglish(
      new Date().toLocaleDateString("fa-IR")
    )
  }),
  methods: {
    changePersianNumbertoEnglish(str) {
      var persianNumbers = [
          /۰/g,
          /۱/g,
          /۲/g,
          /۳/g,
          /۴/g,
          /۵/g,
          /۶/g,
          /۷/g,
          /۸/g,
          /۹/g
        ],
        arabicNumbers = [
          /٠/g,
          /١/g,
          /٢/g,
          /٣/g,
          /٤/g,
          /٥/g,
          /٦/g,
          /٧/g,
          /٨/g,
          /٩/g
        ];
      if (typeof str === "string") {
        for (var i = 0; i < 10; i++) {
          str = str.replace(persianNumbers[i], i).replace(arabicNumbers[i], i);
        }
      }
      return str;
    },
    pickerInput(arr) {
      if (arr.length == 2) {
        let val1 = arr[0];
        let val2 = arr[1];
        let result = `${val1} ~ ${val2}`;
        this.inputDate = result;
      } else if (arr.length == 1) {
        let val1 = arr[0];
        this.inputDate = val1;
      }
    },
    pickerChange(val1, val2) {
      console.log("pickerChange val1", val1, "val2", val2);
    }
  }
};
</script>
