<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-title>
            <v-col cols="2">
              <v-select
                dense
                v-model="marketItem"
                :items="marketItems"
              ></v-select>
            </v-col>
            <v-col cols="2">
              <v-select
                dense
                v-model="filterItem"
                :items="filterItems"
              ></v-select>
            </v-col>
          </v-card-title>
          <v-card-text>
            <v-data-table
              class="sheet"
              :items="items"
              :headers="headers"
              hide-default-footer
              :search="search"
              :custom-filter="filterOnlyCapsText"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="pagination.pageCount = $event"
              no-data-text="اطلاعاتی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              no-results-text="اطلاعاتی وجود ندارد"
            >
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="pagination.itemsPerPage = parseInt($event, 10)"
              ></v-text-field>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    search: "",
    marketItem: "BTC/USD",
    marketItems: ["BTC/USD", "ETH/USD", "LTC/USD"],
    filterItems: ["محدود", "بازار"],
    filterItem: "محدود",
    pagination: {
      page: 1,
      pageCount: 10,
      itemsPerPage: 10
    },
    headers: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "نام کاربری",
        value: "userName"
      },
      {
        sortable: false,
        text: "تاریخ",
        value: "date"
      },

      {
        sortable: false,
        text: "تاریخ",
        value: "leverage"
      },
      {
        sortable: false,
        text: "قیمت",
        value: "price"
      },
      {
        sortable: false,
        text: "مقدار",
        value: "amount"
      },
      {
        sortable: false,
        text: "باقی مانده",
        value: "remaining"
      },
      {
        sortable: false,
        text: "لغو شده",
        value: "cancelled"
      },
      {
        sortable: false,
        text: "مجموع",
        value: "total"
      },

      {
        sortable: false,
        text: "کارمزد",
        value: "fee"
      },
      {
        sortable: false,
        text: "وضعیت",
        value: "status"
      }
    ],
    items: []
  }),
  methods: {
    filterOnlyCapsText(value, search, item) {
      return (
        value != null &&
        search != null &&
        typeof value === "string" &&
        value
          .toString()
          .toLocaleUpperCase()
          .indexOf(search) !== -1
      );
    }
  }
};
</script>
