<template>
  <v-row class="minh-full">
    <v-col cols="12" class="d-flex flex-column align-center">
      <v-img
        contain
        width="400"
        max-height="400"
        height="300"
        src="@/assets/images/pages/maintenance-2.png"
      ></v-img>
      <h1 class="mb-5 blank_layout--text">
        در حال ساخت
      </h1>

      <v-btn aria-label="toDashboard" color="blue" to="/"
        >بازگشت به داشبورد</v-btn
      >
      <!-- v-if="user_is_authenticated" -->

      <!-- <v-btn aria-label="toLogin" v-else color="blue" to="/login"
        >بازگشت به صفحه ورود</v-btn
      > -->
    </v-col>
  </v-row>
</template>

<script>
import { get } from "vuex-pathify";
export default {
  computed: {
    ...get("user", ["user_is_authenticated"])
  }
};
</script>
