<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        offset="0"
        lg="6"
        offset-lg="3"
        md="8"
        offset-md="2"
        sm="10"
        offset-sm="1"
      >
        <v-card color="sheet">
          <v-card-text>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>نام و نام خانوادگی</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="
                    !$vuetify.breakpoint.smAndUp ? 'نام و نام خانوادگی' : ''
                  "
                  v-model.trim="fullName"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>شناسه تراکنش</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="!$vuetify.breakpoint.smAndUp ? 'شناسه تراکنش' : ''"
                  v-model.trim="transactionId"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>نوع برداشت</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="!$vuetify.breakpoint.smAndUp ? 'نوع برداشت' : ''"
                  v-model.trim="withdrawType"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>آدرس فرستنده</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  dir="ltr"
                  :label="!$vuetify.breakpoint.smAndUp ? 'آدرس فرستنده' : ''"
                  v-model.trim="senderAddress"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>آدرس گیرنده</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  dir="ltr"
                  :label="!$vuetify.breakpoint.smAndUp ? 'آدرس گیرنده' : ''"
                  v-model.trim="recipientAddress"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>مقدار تحویل داده شده</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  dir="ltr"
                  :label="
                    !$vuetify.breakpoint.smAndUp ? 'مقدار تحویل داده شده' : ''
                  "
                  v-model.trim="requestAmount"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>کارمزد ادمین</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model.trim="adminFee"
                  v-cleave="options.number"
                  :label="!$vuetify.breakpoint.smAndUp ? 'کارمزد ادمین' : ''"
                  @input="handleAmountFee"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>مقدار گرفته شده</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model.trim="sendAmount"
                  v-cleave="options.number"
                  :label="!$vuetify.breakpoint.smAndUp ? 'مقدار گرفته شده' : ''"
                  @input="handleSendAmount"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>وضعیت</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  :label="!$vuetify.breakpoint.smAndUp ? 'وضعیت' : ''"
                  :items="statusItems"
                  v-model="status"
                >
                </v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3">
                <v-btn color="aqua" class="d-flex align-center">
                  به روز رسانی
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import VCleaveInput from "@/components/VCleaveInput.vue";
import VCleaveInputMixin from "@/plugins/mixins/VCleaveInputMixin.vue";
export default {
  components: {
    VCleaveInput
  },
  mixins: [VCleaveInputMixin],
  data: () => ({
    fullName: "Mavel Hustle",
    transactionId: "UecXwU46GNLmGMI",
    withdrawType: "-",
    senderAddress: "17LbBNiqt3ttwNEZnJ4htuW8mn3D9JCGzk",
    senderAddress: "17LbBNiqt3ttwNEZnJ4htuW8mn3D9JCGzk",
    recipientAddress: "17LbBNiqt3ttwNEZnJ4htuW8mn3D9JCGzk",
    requestAmount: "2",
    adminFee: "0.01210000",
    sendAmount: "1.98790000",
    status: "",
    statusItems: ["در انتظار", "تایید شده", "رد شده"]
  }),
  methods: {
    handleAmountFee(val) {
      console.log(val);
    },
    handleSendAmount(val) {
      console.log(val);
    }
  }
};
</script>
