<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-text>
            <v-data-table
              class="sheet"
              hide-default-footer
              :headers="headers"
              :items="items"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="handlePageCount"
            >
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination
                v-if="pagination.pageCount != 0"
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <!-- <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="handlePerPage"
              ></v-text-field> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        sortable: false,
        text: "#",
        value: "id"
      },
      {
        sortable: false,
        text: "نام کاربری",
        value: "userName"
      },
      {
        sortable: false,
        text: "تاریخ",
        value: "time"
      },
      {
        sortable: false,
        text: "شناسه پیگیری",
        value: "tx_id"
      },
      {
        sortable: false,
        text: "نوع برداشت",
        value: "withdrawType"
      },
      {
        sortable: false,
        text: "فرستنده",
        value: "sender"
      },
      {
        sortable: false,
        text: "گیرنده",
        value: "recipient"
      },
      {
        sortable: false,
        text: "مقدار",
        value: "amount"
      },
      {
        sortable: false,
        text: "کارمزد ادمین",
        value: "addminFee"
      },
      {
        sortable: false,
        text: "وضعیت",
        value: "status"
      }
    ],
    items: [
      {
        id: "1",
        userName: "Test user",
        time: "2021/04/19 06:03:21",
        tx_id: "YlcIm4JpSqhFTMO",
        withdrawType: "-",
        sender: "0xd4ef039432a8b23ea3ad0de1449ed451c3c6e3fb",
        recipient: "0x25339Daf5CF78C5C32147B51B2dC3D857a627d2F",
        amount: "0.00100000",
        addminFee: "0.00043000",
        status: "موفق"
      },
      {
        id: "2",
        userName: "Test user",
        time: "	2021/04/13 06:12:37",
        tx_id: "XzKB8gAyywFQswR",
        withdrawType: "-",
        sender: "0xd4ef039432a8b23ea3ad0de1449ed451c3c6e3fb",
        recipient: "0x5B9FBA08d5e8f1f444890764F12D574a9407D922",
        amount: "0.00542000",
        addminFee: "0.00542000",
        status: "موفق"
      },
      {
        id: "3",
        userName: "Test user",
        time: "2021/03/12 01:29:23",
        tx_id: "vQ3yvffmdMxG06X",
        withdrawType: "-",
        sender: "0xd4ef039432a8b23ea3ad0de1449ed451c3c6e3fb",
        recipient: "0x7189411bf779d9a106367c5b76792199db70e054",
        amount: "2.00000000",
        addminFee: "2.00000000",
        status: "موفق"
      }
    ],
    pagination: {
      page: 1,
      pageCount: 10,
      itemsPerPage: 10
    }
  }),
  methods: {
    handlePageCount(val) {
      this.pagination.pageCount = val;
    }
  },
  beforeRouteUpdate(to, from, next) {
    console.log("beforeRouteUpdate updated");
    next();
  }
};
</script>
