<template>
  <v-app>
    <snackbar></snackbar>
    <v-main>
      <v-container fluid class="minh-full bg-img">
        <transition name="zoom-fade" mode="out-in">
          <router-view :key="$route.path"></router-view>
        </transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<style lang="scss">
@import "@/assets/scss/app/layout/blank.scss";
</style>
