<template>
  <v-row no-gutters class="d-flex bg-img justify-center align-center">
    <v-col cols="10" sm="8" md="6" lg="4" class="">
      <v-card elevation="20" color="sheet">
        <v-card-title>
          <h2 class="mb-4 lighten-4--text">خوش آمدید</h2>
        </v-card-title>
        <v-card-subtitle>
          <p>لطفا به اکانت خود وارد شوید</p>
        </v-card-subtitle>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="name"
              dir="ltr"
              :rules="nameRules"
              label="نام کاربری"
              prepend-icon="mdi-account-circle"
            />
            <v-text-field
              v-model="pass"
              dir="ltr"
              :type="showPassword ? 'text' : 'password'"
              label="رمز عبور"
              :rules="passRules"
              prepend-icon="mdi-lock"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
            />
            <v-checkbox label="مرا به خاطر بسپار" v-model="remember">
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions class="d-flex justify-space-between pb-4">
          <v-btn
            aria-label="login"
            :disabled="!valid"
            @click.prevent="login"
            color="success2"
            class="ml-auto px-4"
            >ورود</v-btn
          >
          <v-btn
            aria-label="register"
            @click="$router.push('/register')"
            color="blue"
            >ثبت نام</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
import { sync } from "vuex-pathify";
export default {
  data: () => ({
    name: "",
    pass: "",
    nameRules: [v => !!v || "نام کاربری الزامی است"],
    passRules: [
      v => !!v || "رمز عبور الزامی است",
      v => (v && v.length >= 6) || "رمز عبور باید حداقل 6 کاراکتر باشد"
    ],
    showPassword: false,
    valid: true,
    remember: false
  }),
  computed: {
    ...sync("user", ["users"])
  },
  methods: {
    login() {
      let valid = this.$refs.form.validate();
      if (valid) {
        let data = { password: this.pass, name: this.name };
        this.$http.post("/api/auth/login", data).then(r => {
          this.$store.commit("user/current_user", r?.data?.userData);
          this.$setDataToLocalStorage(r?.data?.userData);
          this.$router.replace("/dashboard");
        });
      }
    }
  }
};
</script>
