<template>
  <router-view />
</template>

<script>
// Styles
import "@/styles/overrides.sass";

export default {
  name: "App",
  metaInfo() {
    return {
      title: `پنل ادمین رمزینو`,
      titleTemplate: `%s | ${this.title}`,
      htmlAttrs: { lang: "fa" },
      meta: [
        { charset: "utf-8" },
        {
          name: "viewport",
          content: "width=device-width, initial-scale=1, shrink-to-fit=no"
        },
        {
          name: "description",
          content: `Mary's simple recipe for maple bacon donuts
           makes a sticky, sweet treat with just a hint
           of salt that you'll keep coming back for.`
        }
      ]
    };
  },
  computed: {
    title() {
      return this.$route.name != null ? this.$route.name : "";
    }
  }
};
</script>
