<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        offset="0"
        lg="6"
        offset-lg="3"
        md="8"
        offset-md="2"
        sm="10"
        offset-sm="1"
      >
        <v-card color="sheet">
          <v-card-text>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>نام</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="!$vuetify.breakpoint.smAndUp ? 'نام' : ''"
                  v-model.trim="firstName"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>نام خانوادگی</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="!$vuetify.breakpoint.smAndUp ? 'نام خانوادگی' : ''"
                  v-model.trim="lastName"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>تاریخ تولد</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="!$vuetify.breakpoint.smAndUp ? 'تاریخ تولد' : ''"
                  v-model.trim="dateOfBirth"
                  v-cleave="options.date"
                  dir="ltr"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>شهر</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="!$vuetify.breakpoint.smAndUp ? 'شهر' : ''"
                  v-model.trim="city"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>کشور</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="!$vuetify.breakpoint.smAndUp ? 'کشور' : ''"
                  v-model.trim="country"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>وضعیت</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  :label="!$vuetify.breakpoint.smAndUp ? 'وضعیت' : ''"
                  :items="statusItems"
                  v-model="status"
                >
                </v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-if="$vuetify.breakpoint.smAndUp"
                cols="12"
                sm="5"
                class="d-flex align-center"
              >
                <v-subheader>
                  <h3>تذکر</h3>
                </v-subheader>
              </v-col>
              <v-col cols="12" sm="6">
                <v-textarea
                  rows="3"
                  :label="!$vuetify.breakpoint.smAndUp ? 'تذکر' : ''"
                  v-model.trim="remark"
                >
                </v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3">
                <v-btn color="aqua" class="d-flex align-center">
                  به روز رسانی
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import VCleaveInputMixin from "@/plugins/mixins/VCleaveInputMixin.vue";
export default {
  mixins: [VCleaveInputMixin],
  data: () => ({
    firstName: "Doyle Terry",
    lastName: "Dwayne",
    city: "Missouri",
    dateOfBirth: "1989-04-05",
    country: "United States",
    status: "",
    statusItems: ["در انتظار", "تایید شده", "رد شده"],
    remark: ""
  })
};
</script>
