<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-title>
            <v-text-field
              v-model="search"
              label="جستجو"
              class="mx-4"
              append-icon="mdi-magnify"
              hide-details
            ></v-text-field>

            <v-spacer></v-spacer>
            <h2>Nutrition</h2>
          </v-card-title>
          <v-card-text>
            <v-data-table
              :items="usersItem"
              :headers="usersHeaders"
              class="sheet"
              hide-default-footer
              :search="search"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="handlePageCount"
            >
              <template v-slot:[`item.actions`]>
                <v-btn
                  color="aqua darken-1"
                  small
                  @click="$router.push('/user/')"
                >
                  مشاهده
                  <v-icon right>
                    mdi-eye-outline
                  </v-icon>
                </v-btn>
              </template>
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination
                v-if="pagination.pageCount != 0"
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="handlePerPage"
              ></v-text-field>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    search: "",
    emailSearch: "",
    usersItem: [
      {
        id: "1",
        fullName: "Mavel Hustle",
        email: "denyefa02@gmail.com",
        date: "2021/04/16 11:23:49",
        verifyEmail: "yes",
        verifyUser: "در انتظار"
      },
      {
        id: "2",
        fullName: "BACCHUS911",
        email: "difrancojoseph@gmail.com",
        date: "2021/04/16 01:34:26",
        verifyEmail: "yes",
        verifyUser: "در انتظار"
      },
      {
        id: "3",
        fullName: "frank",
        email: "frankinmb@gmail.com",
        date: "2021/04/13 06:52:13",
        verifyEmail: "yes",
        verifyUser: "در انتظار"
      },
      {
        id: "4",
        fullName: "gokul",
        email: "gokulm.14ece@gmail.com",
        date: "2021/04/13 06:52:13",
        verifyEmail: "no",
        verifyUser: "در انتظار"
      }
    ],
    pagination: {
      page: 1,
      pageCount: 10,
      itemsPerPage: 10
    }
  }),
  computed: {
    usersHeaders() {
      return [
        {
          sortable: false,
          text: "#",
          value: "id",
          filterable: false
        },
        {
          sortable: false,
          text: "نام و نام خانوادگی",
          value: "fullName",
          filterable: true
        },
        {
          sortable: false,
          text: "ایمیل",
          value: "email",
          filterable: true
          // filter: value => {
          //   if (!this.emailSearch) return true;

          //   return value < parseInt(this.emailSearch);
          // }
        },
        {
          sortable: false,
          text: "تاریخ",
          value: "date",
          filterable: false
        },
        {
          sortable: false,
          text: "ایمیل تایید شده",
          value: "verifyEmail",
          filterable: false
        },
        {
          sortable: false,
          text: "کاربر تایید شده",
          value: "verifyUser",
          filterable: false
        },
        {
          sortable: false,
          text: "",
          value: "actions"
        }
      ];
    }
  },
  methods: {
    handlePerPage(val) {
      if (val !== "") {
        this.pagination.itemsPerPage = parseInt(val, 10);
      } else {
        this.pagination.itemsPerPage = null;
        this.pagination.pageCount = 0;
      }
    },
    handlePageCount(val1, val2) {
      this.pagination.pageCount = val1;
    },
    filterOnlyCapsText(value, search, item) {
      return (
        value != null &&
        search != null &&
        typeof value === "string" &&
        value.toString().indexOf(search) !== -1
      );
    }
    // async nextPage() {
    //   await this.getAllCommissionLevels(
    //     this.allCommissionsLevels.current_page + 1
    //   );
    // },
    // async handlePagination(page) {
    //   await this.getAllCommissionLevels(page);
    // },
    // async previousPage() {
    //   await this.getAllCommissionLevels(
    //     this.allCommissionsLevels.current_page - 1
    //   );
    // }
  },
  mounted() {}
};
</script>
