<template>
  <v-container class="pa-0 pa-sm-3">
    <v-row>
      <v-col cols="12">
        <v-card color="sheet">
          <v-tabs
            v-model="tab"
            background-color="transparent"
            color="aqua darken-1"
            :grow="$vuetify.breakpoint.smAndUp"
            show-arrows
          >
            <v-tab
              @click.prevent="handleTabClick(item)"
              v-for="(item, index) in items"
              :key="index"
            >
              {{ item }}
            </v-tab>
          </v-tabs>
          <v-divider />
          <v-card-text>
            <v-tabs-items v-model="tab" class="sheet">
              <v-tab-item key="جزئیات کاربر">
                <user-details> </user-details>
              </v-tab-item>
              <v-tab-item key="احراز هویت">
                <auth> </auth>
              </v-tab-item>
              <v-tab-item key="کیف پول">
                <wallet></wallet>
              </v-tab-item>
              <v-tab-item key="واریز ارز">
                <deposit-coin></deposit-coin>
              </v-tab-item>
              <v-tab-item key="برداشت ارز">
                <withdraw-coin></withdraw-coin>
              </v-tab-item>
              <v-tab-item key="معامله خرید">
                <buy-trade></buy-trade>
              </v-tab-item>
              <v-tab-item key="معامله فروش">
                <sell-trade></sell-trade>
              </v-tab-item>
            </v-tabs-items>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import auth from "@/components/user-tabs/Auth";
import UserDetails from "@/components/user-tabs/UserDetails";
import Wallet from "@/components/user-tabs/Wallet";
import DepositCoin from "@/components/user-tabs/DepositCoin";
import WithdrawCoin from "@/components/user-tabs/WithdrawCoin";
import BuyTrade from "@/components/user-tabs/BuyTrade";
import SellTrade from "@/components/user-tabs/SellTrade";

export default {
  components: {
    auth,
    UserDetails,
    Wallet,
    DepositCoin,
    WithdrawCoin,
    BuyTrade,
    SellTrade
  },
  data: () => ({
    tab: null,
    items: [
      "جزئیات کاربر",
      "احراز هویت",
      "کیف پول",
      "واریز ارز",
      "برداشت ارز",
      "معامله خرید",
      "معامله فروش"
    ]
  }),
  methods: {
    handleTabClick(item) {
      console.log("item", item);
    }
  }
};
</script>
