<template>
  <v-app-bar
    id="default-app-bar"
    app
    absolute
    class="v-bar--underline"
    color="transparent"
    height="70"
  >
    <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer = !drawer" />

    <default-drawer-toggle class="hidden-sm-and-down" />

    <v-toolbar-title v-text="name" />

    <v-spacer />

    <span v-show="$vuetify.breakpoint.smAndUp" class="font-14"
      >امروز :
      <span class="letter-spacing-3">{{
        new Date().toLocaleDateString("fa-IR")
      }}</span>
    </span>
  </v-app-bar>
</template>

<script>
// Utilities
import { get, sync } from "vuex-pathify";

export default {
  name: "DefaultBar",

  components: {
    DefaultAccount: () =>
      import(
        /* webpackChunkName: "default-account" */
        "./widgets/Account"
      ),
    DefaultDrawerToggle: () =>
      import(
        /* webpackChunkName: "default-drawer-toggle" */
        "./widgets/DrawerToggle"
      ),
    DefaultNotifications: () =>
      import(
        /* webpackChunkName: "default-notifications" */
        "./widgets/Notifications"
      )
  },

  computed: {
    ...sync("app", ["drawer"]),
    name() {
      let name = this.$route.name;
      let currency = "";
      if (this.$route.params.currency) {
        currency = this.$route.params.currency;
      }
      name = `${name} ${currency}`;
      return name;
    }
  }
};
</script>
