<template>
  <v-footer
    id="default-footer"
    class="justify-center"
    color="transparent"
    absolute
    app
    inset
  >
    <p>. Copyright@2021 All Rights Reserved</p>
  </v-footer>
</template>

<script>
export default {
  name: "DefaultFooter"
};
</script>
