<template>
  <v-main>
    <v-container fluid>
      <transition name="zoom-fade" mode="out-in">
        <router-view :key="$route.path" />
      </transition>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "DefaultView"
};
</script>
